* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration:  none;
	font-size: 12px;
	color: #333333;
}
ul {
	list-style: none;
}
#container {
	width: 980px;
	margin: 0 auto;
}

#header {
	height: 135px;
	width: 100%;
	margin-bottom: 6px;
}
	#header #header-top{
		height: 98px;
		width: 100%;
		background: url(../img/h_bg.jpg) no-repeat -23px 0px;
	}
		#header #header-top #logo{
			height: 100%;
			width: 54%;
			float: left;
			
		}
		#header #header-top #logo a{
			display: inline-block;
			height: 100%;
			width: 100%;
		}
		#header #header-top #car{
			height: 75%;
			width: 46%;
			float: left;
		}
			#car  ul {
				padding-top: 12px;
				padding-left: 10px;
			}
			#car  ul li {
				list-style: none;
				float: left;
			}
			#car  ul li a {
				width: 28px;
				height: 28px;
				text-decoration: none;
				font-size: 12px;
				color: #333333;
				display: inline-block;
				line-height: 28px;
				text-align: center;
			}
			#car  ul li a.text {
				width: 54px;
			}
			#car  ul li a.pic {
				
				background: url(../img/icon.gif) no-repeat 4px -2px;
			}
			#car  ul li a.pic2{background-position: -43px -2px;}
			#car  ul li a.pic3{background-position: -84px -1px;}
			#car  ul li a.pic4{background-position: -125px 0px;}
			#car  ul li a.pic5{
				width: 46px;
				background-position: -1px -25px;
			}
		#header #header-top #welcome{
			height: 25%;
			width: 46%;
			float: left;
			color: #636362;
			font-size: 12px;
			letter-spacing: 4px;
		}
	#header #header-nav{
		height: 38px;
		width: 100%;
		clear: both;
		background: url(../img/h_bg.jpg) no-repeat -23px -98px;
	}
	#header #header-nav #nav li {
		float: left;
	}
	#header #header-nav #nav a {
		display: inline-block;
		width: 84px;
		height: 100%;
		line-height: 31px;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
	}
	#header #header-nav #nav a:hover{
		background: url(../img/nav_bg.gif) no-repeat 0px 0px;
	}
	
	#header #header-nav #soso {
		float: right;
		width: 238px;
	}
	#header #header-nav #soso li {
		float: left;
		height: 31px;
		line-height: 30px;
	}
	#header #header-nav #soso li #content{
		width: 157px;
		height: 20px;
		opacity: .5;
		border: 0px solid #FFFFFF;
	}
	#header #header-nav #soso li #soclick {
		opacity: 0;
		border: 0px solid #FFFFFF;
		width: 80px;
		height: 30px;
		cursor: pointer;
	}
	.cantan{
		display: flex;
		justify-content: space-between;
	}
	.cantan .left{
		margin-top: 6px;
		width: 200px;
		height: 640px;
		overflow: hidden;
		border-radius: 5px;
		border-bottom: 2px solid #b0aba1;
	}
	.cantan .center{
		width: 524px;
		height: 640px;
	}
	.cantan .right{
		width: 234px;
		height: 640px;
		margin-top: 6px;
	}
	.cantan .left .top{
		background: linear-gradient(#fad09a, #f47e24);
		height: 32px;
		display: flex;
		justify-content: space-between;
	}
	.cantan .left .top a{
		margin-top: 12px;
		color: white;
		font-size: 14px;
		font-weight: 600;
		text-shadow: 0 0 5px #666;
		line-height: 14px;
	}
	.cantan .left .top .top-left{
		margin-left: 12px;
	}
	.cantan .left .top .top-right{
		margin-right: 16px;
	}
	.cantan .left .fenglei .biaolan{
		height: 22px;
		background-color: #efefef;
		border: 1px solid #c7c7c7;
	}
	.cantan .left .fenglei .biaolan a{
		line-height: 24px;
		font-size: 14px;
		color: #ff7300;
		margin-left: 14px;
		font-weight: 600;
	}
	.cantan .left .fenglei .xuanxiang{
		height: 123px;
		border-left: 1px solid #c7c7c7;
		border-right: 1px solid #c7c7c7;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-around;
		padding: 2px 6px;
	}
	.cantan .left .fenglei .xuanxiang a{
		font-size: 12px;
		color: black;
		display: inline-block;
		width: 48px;
	}
	.cantan .center .tutu{
		width: 524px;
		height: 190px;
		position: relative;
		margin-bottom: 12px;
	}
	.cantan .center .tutu .zhezhao{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		opacity: 0;
		z-index: 100;
	}
	.cantan .center .tutu p{
		position: absolute;
		left: 35px;
		bottom: 10px;
		z-index: 200;
	}
	.cantan .center .tutu p span{
		font-size: 10px;
		background-color: #ccc;
		color: #333333;
		margin-right: 4px;
		padding: 4px 7px;
		cursor: pointer;
	}
	.cantan .center .tutu p .huang{
		background-color: #f47e24;
	}
	.cantan .center .qianggou{
		height: 443px;
		border: 1px solid #c7c7c7;
		overflow: hidden;
		border-radius: 5px;
		border-bottom: 2px #b0aba1 solid;
	}
	.cantan .center .qianggou .qiangtop{
		height: 26px;
		background: linear-gradient(#fad09a, #f47e24);
		position: relative;
	}
	.cantan .center .qianggou .qiangtop .topzi{
		font-size: 14px;
		margin-left: 18px;
		line-height: 26px;
		color: white;
		font-weight: bold;
		text-shadow: 0 0 5px #666;
	}
	.cantan .center .qianggou .qiangtop .yuang{
		width: 14px;
		height: 14px;
		border-radius: 14px;
		position: absolute;
		left: 78px;
		top: 6px;
		background-color: #f4d5b6;
	}
	.cantan .center .qianggou .qiangtop .yuang .jiangtou{
		width: 8px;
		height: 8px;
		position: absolute;
		left:35%;
		top: 50%;
		transform: translate(-50%,-50%) rotate(45deg);
		background: linear-gradient(to right top,rgba(0,0,0,0) 50%, #f47e24 50%);
		
	}
	.cantan .center .qianggou .shangping{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 10px 8px 5px;
		align-content: space-around;
		height: 400px;
	}
	.cantan .center .qianggou .shangping .shanp{
		width: 156px;
		height: 120px;
	}
	.cantan .center .qianggou .shangping .shanp img{
		box-sizing: border-box;
		display: inline-block;
		height: 88px;
		width: 104px;
		border: 1px solid #ccc;
		margin: 0 auto;
	}