<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="false">
  
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<display-name>Hello</display-name>
  	<description></description>
  	<servlet-class>websql.Hello</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Userget</servlet-name>
  	<display-name>Userget</display-name>
  	<description></description>
  	<servlet-class>websql.Userget</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adduser</servlet-name>
  	<display-name>adduser</display-name>
  	<description></description>
  	<servlet-class>websql.adduser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>imgget</display-name>
  	<servlet-name>imgget</servlet-name>
  	<servlet-class>websql.imgget</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Userget</servlet-name>
  	<url-pattern>/Userget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adduser</servlet-name>
  	<url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>imgget</servlet-name>
  	<url-pattern>/imgget</url-pattern>
  </servlet-mapping>
</web-app>
